<div *ngIf="dataInfo">
  <mat-accordion
    collapsedHeight="*"
    expandedHeight="*"
    [multi]="multi"
    #accordion="matAccordion"
  >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="text-center" style="width: 100%;">
          {{ dataInfo.titleTimeRange.from }} {{ dataInfo.titleTimeRange.to }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="dataInfo">
        <app-range-datepicker [dataInfo]="dataInfo"></app-range-datepicker>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
