<div class="row no-gutters d-flex justify-content-center">
  <table class="table table-borderless table-sm">
    <thead>
      <tr>
        <!-- <tr *ngFor="let legend of chartLegends">
        {{
          legend.title
        }} -->
        <!-- <td valign="middle" align="center">{{ legend.title }}</td>
        <td valign="middle" align="center">
          <mat-checkbox
            id="{{ legend.htmlChbxLineId }}"
            class="example-margin"
            [disabled]="disabled"
            [checked]="totalLinechecked"
            (change)="totalLineChange($event)"
          >
          </mat-checkbox>
        </td>

        <td valign="middle" align="center">
          <div id="{{ legend.htmlLineId }}"></div>
        </td>
        <td valign="middle" align="center">
          <mat-checkbox
            id="{{ legend.htmlChbxAreaId }}"
            class="example-margin"
            [disabled]="disabled"
            [checked]="checked"
            (change)="totalLineChange($event)"
          >
          </mat-checkbox>
        </td>

        <td valign="middle" align="center">
          <div id="{{ legend.htmlAreaId }}"></div>
        </td>
      </tr> -->

        <!-- <tr>
        <td valign="middle" align="center">
          Уникальные
        </td>
        <td valign="middle" align="center">
          <mat-checkbox
            class="example-margin"
            [disabled]="disabled"
            [checked]="checked"
          >
          </mat-checkbox>
        </td>

        <td valign="middle" align="center">
          <div [id]="uniqueLineHtmlId"></div>
        </td>
        <td valign="middle" align="center">
          <mat-checkbox
            class="example-margin"
            [disabled]="disabled"
            [checked]="checked"
          >
          </mat-checkbox>
        </td>

        <td valign="middle" align="center">
          <div [id]="uniqueRectHtmlId"></div>
        </td>
      </tr> -->
      </tr>
    </thead>
  </table>
</div>
