<div id="weeklyLegend"></div>
<div class="row no-gutters d-flex justify-content-center">
  <table class="table table-borderless table-sm">
    <thead>
      <tr *ngFor="let legend of chartLegends">
        <td valign="middle" align="center">{{ legend.title }}</td>
        <td valign="middle" align="center">
          <mat-checkbox
            id="{{ legend.htmlChbxLineId }}"
            class="example-margin"
            [checked]="checked"
            (change)="chbxChange($event)"
          >
          </mat-checkbox>
        </td>

        <td valign="middle" align="center">
          <div id="{{ legend.htmlLineId }}"></div>
        </td>
        <td valign="middle" align="center">
          <mat-checkbox
            id="{{ legend.htmlChbxAreaId }}"
            class="example-margin"
            [checked]="checked"
            (change)="chbxChange($event)"
          >
          </mat-checkbox>
        </td>

        <td valign="middle" align="center">
          <div id="{{ legend.htmlAreaId }}"></div>
        </td>
      </tr>
    </thead>
  </table>
</div>
