<div class="row no-gutters d-flex justify-content-center">
  <table class="table table-borderless table-sm">
    <thead>
      <tr>
        <td valign="middle" align="center">Общие</td>
        <td valign="middle" align="center">
          <mat-checkbox
            class="example-margin"
            [disabled]="disabled"
            [checked]="checked"
          >
          </mat-checkbox>
        </td>

        <td valign="middle" align="center"><div class="cached"></div></td>
        <td valign="middle" align="center">
          <mat-checkbox
            class="example-margin"
            [disabled]="disabled"
            [checked]="checked"
          >
          </mat-checkbox>
        </td>

        <td valign="middle" align="center"><div class="rect"></div></td>
      </tr>

      <tr>
        <td valign="middle" align="center">
          Уникальные
        </td>
        <td valign="middle" align="center">
          <mat-checkbox
            class="example-margin"
            [disabled]="disabled"
            [checked]="checked"
          >
          </mat-checkbox>
        </td>

        <td valign="middle" align="center"><div class="cached"></div></td>
        <td valign="middle" align="center">
          <mat-checkbox
            class="example-margin"
            [disabled]="disabled"
            [checked]="checked"
          >
          </mat-checkbox>
        </td>

        <td valign="middle" align="center"><div class="rect"></div></td>
      </tr>
    </thead>
  </table>
</div>
